<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskApp_test3" path="*" verb="*" modules="FastCgiModule"
			scriptProcessor="C:\Python27\python.exe|F:\Website\errorDB\wfastcgi.pyc" 
			resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
        <add key="WSGI_HANDLER" value="alidata.app" />
        <add key="PYTHONPATH" value="F:\Website\errorDB" />
    </appSettings>
</configuration>