<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alisearchdb</title>
    <style type="text/css">
        .dt {
            height: 30px;
            margin-top: 35px;
            border: 35px;
            padding: auto 50px;
            margin: 40px auto;
        }

        .dt {
            display: inline-block
        }
    </style>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.0.js') }}"></script>-->
</head>
<body>
<div align="center">
    <!--<form action="/aliseardb/" method="post">-->
    <form action="{{ url_for('search_db') }}" method="post">
        {{ csrf_token }}
        <span>请输入 ERROR CODE:&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" name="search_codes" id="codes">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>请输入 KEY WORD:&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" name="search_keys" id="keys">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>请输入 FAIL DETAIL:&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" name="search_details" id="details">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" id="search" value="搜索">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--<span style="font-size:35px;">搜索的结果是:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
    <!--{% with messages = get_flashed_messages() %}-->
    <!--{% if messages %}-->
    <!--<ul class="flashes" id="list">-->
    <!--{% for message in messages %}-->
    <!--<li style="color:red;font-size:35px;">{{ message }}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
    <!--{% endif %}-->
    <!--{% endwith %}-->
    <!--<hr>-->
</div>
<br>
<div align="center">
    <span style="font-size:35px;">搜索结果:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <table width="98%" border="1" cellpadding="1" cellspacing="1">
        <tr>
            <td align="center" style="color:red;background:#B8B8B8;font-size:25px;">error_code</td>
            <td align="center" style="color:red;background:#B8B8B8;font-size:25px;">key_word</td>
            <td align="center" style="color:red;background:#B8B8B8;font-size:25px;">fail_detail</td>
        </tr>
        {% for result in results %}
        <tr>
            <td align="center" style="background:#D2D2D2;word-break: normal">{{ result[0] }}</td>
            <td align="center" style="background:#DFDFDC;word-break: normal">{{ result[1] }}</td>
            <td align="center" style="background:#D2D2D2;word-break: normal">{{ result[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<div align="center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!--<a class="dt" type="button" href="/ali">首页</a>-->
    <a class="dt" type="button" href="{{ url_for('index1') }}">首页</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!--<a class="dt" type="button" href="/alichdb/">修改页</a>-->
    <a class="dt" type="button" href="{{ url_for('index2') }}">修改页</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="dt" type="button" href="{{ url_for('index5') }}">删除页</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!--<a class="dt" type="button" href="/alidata/">统计页</a>-->
    <a class="dt" type="button" href="{{ url_for('index4') }}">统计页</a>
</div>
</body>
</html>